<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="./js/vue.global.js"></script>
		<script src="./js/vuex.global.js"></script>
		<link rel="stylesheet" href="./css/index.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
		<script src="./js/util/tailwind.js"></script>
		<title>Codem Billing V2</title>
		<script>
			tailwind.config = {
				theme: {
					extend: {
						aspectRatio: {
							square: '1 /1'
						}
					}
				}
			};
		</script>
	</head>

	<body>
		<div id="app" style="display: none">
			<div class="w-screen h-screen relative">
				<div
					v-for="data in $store.state.NormalNotifications"
					:key="data.id"
					class="w-[16%] inline-flex flex flex-wrap content-start absolute left-1/2 transform -translate-x-1/2 bottom-[0.3vh] bg-black/60 rounded-tl-[0.9vw] rounded-tr-[2vw] rounded-bl-[0.9vw] rounded-br-[2vw]"
				>
					<div class="w-[22%] h-full absolute right-0 flex items-center">
						<div class="w-[90%] aspect-square border border-2 border-[#548de8] rounded-full absolute flex items-center justify-center">
							<img src="/html/images/billtemplateiconactive.png" class="h-[50%]" alt="" />
						</div>
						<div class="w-[90%] aspect-square border border-2 border-[#548de8] rounded-full" style="filter: blur(0.1vw)"></div>
					</div>
					<div class="w-full h-[3vh] flex items-end">
						<h2 class="font-['Gilroy-Semibold'] text-[#548DE8] text-[0.8vw] ml-[0.8vw] fixtext leading-[100%]">{{Locales['notification']}}</h2>
					</div>
					<div class="w-[75%]" style="min-height: 4.5vh">
						<h2 class="font-['Gilroy-Medium'] text-white text-[0.65vw] mt-[0.5vh] ml-[0.8vw] leading-[100%] pb-[1vh]">{{data.text}}</h2>
					</div>
				</div>

				<div class="w-[17%] h-[10%] absolute bottom-[2vh] left-1/2 transform -translate-x-1/2"></div>
				<div class="w-full h-full overflow-hidden relative flex items-start justify-center" style="background-image: url(/html/images/test1s.png); background-size: 100% 100%">
					<div v-if="ApprovalMenu" class="w-[75.5%] h-[83%] absolute flex items-start mt-[6vh] rounded-[2vw] backdrop-blur-[1vw]">
						<div class="w-full h-[100%] rounded-[2vw] relative" style="background-image: url(/html/images/applicationbackground.png); background-size: 100% 100%">
							<transition-group name="opacitypage">
								<div
									v-for="data in $store.state.TabletNotifications"
									:key="data.id"
									class="w-[20%] inline-flex flex flex-wrap content-start absolute left-[0.9vw] bottom-[1.5vh] rounded-[1.4vw] z-[10]"
									:style="{'background-image' : data.type === 'error' ? 'url(/html/images/errornotificationbackground.png)' : 'url(/html/images/notificationbackground.png)', 'background-size' : '100% 100%'}"
								>
									<div class="w-full h-[5vh] flex items-end justify-center">
										<div class="w-[90%] h-[70%] flex items-center">
											<img v-if="data.type !== 'error'" src="/html/images/systeminfoicon.png" class="h-[80%]" alt="" />
											<img v-else src="/html/images/errornotification.png" class="h-[80%]" alt="" />
											<h2 :class="data.type == 'error' ? 'text-[#E13939]' : 'text-[#548DE8]'" class="font-['Gilroy-Medium'] text-[1vw] ml-[0.5vw] fixtext">
												{{Locales['notification']}}
											</h2>
										</div>
									</div>
									<div class="w-full inline-flex">
										<h2 class="font-['Gilroy-Medium'] text-white text-[0.65vw] pl-[0.8vw] pr-[1vw] pt-[0.5vh] pb-[1.5vh]">{{data.text}}</h2>
									</div>
								</div>
							</transition-group>
							<div class="w-full h-[6.5%] flex relative">
								<div class="w-full h-full absolute flex items-center justify-center">
									<h2 class="font-['Gilroy-Medium'] text-white/70 text-[0.8vw] ml-[1.5vw] fixtext">{{ GetTimeAndDate() }}</h2>
								</div>
								<div class="w-[50%] h-full flex items-center">
									<h2 class="font-['Gilroy-Medium'] text-white/70 text-[1vw] ml-[1.5vw] fixtext">{{Locales['lsbillingmanagementoffice']}}</h2>
								</div>
								<div class="w-[50%] h-full flex items-center justify-end z-[3]">
									<div class="w-[2.5%] h-[40%] mr-[1.9vw] cursor-pointer" @click="CloseApprovalMenu"></div>
								</div>
							</div>
							<div class="w-full h-[8.5%] flex items-end justify-center">
								<h2 class="font-['Gilroy-SemiBold'] text-white text-[1.2vw] fixtext">{{Locales['welcome']}}</h2>
							</div>
							<div class="w-full h-[3.5%] flex items-end justify-center">
								<h2 class="font-['Gilroy-SemiBold'] text-white text-[1.2vw] fixtext">{{Locales['lsbillingmanagementoffice']}}</h2>
							</div>
							<div class="w-full h-[59.5%] flex items-end justify-center">
								<div class="w-[47.3%] h-[83%] flex justify-between">
									<div v-if="!ApplyForBillingPlayer" class="w-[47.4%] h-full" style="background-image: url(/html/images/application1.png); background-size: 100% 100%">
										<div class="w-full h-[14%] flex items-end justify-center">
											<h2 class="font-['Gilroy-SemiBold'] text-[#0D2C5E] text-[1.2vw] fixtext">{{Locales['individualbilling']}}</h2>
										</div>
										<div class="w-full h-[7%] flex items-end justify-center">
											<h2 class="font-['Gilroy-SemiBold'] text-[#0D2C5E] text-[1.2vw] fixtext">{{Locales['authorization']}}</h2>
										</div>
										<div class="w-full h-[75%] flex items-end justify-center">
											<div
												@click="ApplyForBilling"
												class="w-[87%] h-[17%] rounded-[1vw] flex items-center justify-center bg-[#397be4] rounded-[0.7vw] shadow-[0px_0px_0px_2px_rgba(18,61,129,1.00)] cursor-pointer anim-hover-1"
											>
												<h2 class="font-['Gilroy-SemiBold'] text-black text-[1.2vw] leading-[100%] fixtext">{{Locales['apply']}}</h2>
											</div>
										</div>
									</div>
									<div v-else class="w-[47.4%] h-full" style="background-image: url(/html/images/application4.png); background-size: 100% 100%">
										<div class="w-full h-[14%] flex items-end justify-center">
											<h2 class="font-['Gilroy-SemiBold'] text-[#5E3F0D] text-[1.2vw] fixtext">{{Locales['individualbilling']}}</h2>
										</div>
										<div class="w-full h-[7%] flex items-end justify-center">
											<h2 class="font-['Gilroy-SemiBold'] text-[#5E3F0D] text-[1.2vw] fixtext">{{Locales['authorization']}}</h2>
										</div>
										<div class="w-full h-[75%] flex items-end justify-center">
											<div
												class="w-[87%] h-[17%] rounded-[1vw] flex items-center justify-center bg-[#e8af54] rounded-[0.7vw] shadow-[0px_0px_0px_2px_rgba(129,86,18,1.00)] cursor-pointer anim-hover-1"
											>
												<h2 class="font-['Gilroy-SemiBold'] text-black text-[1.2vw] fixtext">{{Locales['waitingforapproval']}}</h2>
											</div>
										</div>
									</div>

									<div v-if="ApprovalMenuData.page == 'page1'" class="w-[47.4%] h-full" style="background-image: url(/html/images/application2.png); background-size: 100% 100%">
										<div class="w-full h-[14%] flex items-end justify-center">
											<h2 class="font-['Gilroy-SemiBold'] text-[#0D5E40] text-[1.2vw] fixtext">{{Locales['businessbilling']}}</h2>
										</div>
										<div class="w-full h-[7%] flex items-end justify-center">
											<h2 class="font-['Gilroy-SemiBold'] text-[#0D5E40] text-[1.2vw] fixtext">{{Locales['authorization']}}</h2>
										</div>
										<div class="w-full h-[75%] flex items-end justify-center">
											<div
												@click="ChangeApprovalMenuPage('page2')"
												class="w-[87%] h-[17%] rounded-[1vw] flex items-center justify-center bg-[#39e4a5] rounded-[0.7vw] shadow-[0px_0px_0px_2px_rgba(18,129,88,1.00)] cursor-pointer anim-hover-1"
											>
												<h2 class="font-['Gilroy-SemiBold'] text-[#0D5E40] text-[1.2vw] leading-[100%] fixtext">{{Locales['apply']}}</h2>
											</div>
										</div>
									</div>
									<div v-if="ApprovalMenuData.page == 'page2'" class="w-[47.4%] h-full" style="background-image: url(/html/images/application3.png); background-size: 100% 100%">
										<div class="w-full h-[14%] flex items-end justify-center">
											<h2 class="font-['Gilroy-SemiBold'] text-[#0D5E40] text-[1.2vw] fixtext">{{Locales['businessbilling']}}</h2>
										</div>
										<div class="w-full h-[7%] flex items-end justify-center">
											<h2 class="font-['Gilroy-SemiBold'] text-[#0D5E40] text-[1.2vw] fixtext">{{Locales['authorization']}}</h2>
										</div>

										<div class="w-full h-[22.5%] flex items-end justify-center">
											<img src="/html/images/businessbillingicon.png" class="h-[75%]" alt="" />
										</div>

										<div class="w-full h-[14.5%] flex items-end justify-center">
											<div class="w-[85%] h-[65%] rounded-[0.5vw] bg-black/10">
												<input
													type="text"
													v-model="ApprovalMenuData.businesslogo"
													class="w-full h-full bg-transparent ml-[.5vw] pr-[1vw] font-['Gilroy-Semibold'] text-black text-[0.8vw] outline-none border-none placeholder:text-black/30"
													:placeholder="Locales['businesslogo']"
												/>
											</div>
										</div>

										<div class="w-full h-[17.5%] flex items-end justify-center">
											<h2 class="font-['Gilroy-SemiBold'] text-black text-[1.2vw] fixtext leading-[100%]">{{PlayerData.job.label}}</h2>
										</div>
										<div class="w-full h-[19.5%] flex items-end justify-center">
											<div
												@click="SendApprovalJob"
												class="w-[87%] h-[57%] rounded-[1vw] flex items-center justify-center bg-[#39e4a5] rounded-[0.7vw] shadow-[0px_0px_0px_2px_rgba(18,129,88,1.00)] cursor-pointer anim-hover-1"
											>
												<h2 class="font-['Gilroy-SemiBold'] text-[#0D5E40] text-[1.2vw] leading-[100%] fixtext">{{Locales['apply']}}</h2>
											</div>
										</div>
									</div>
									<div v-if="ApprovalMenuData.page == 'page3'" class="w-[47.4%] h-full" style="background-image: url(/html/images/application5.png); background-size: 100% 100%">
										<div class="w-full h-[14%] flex items-end justify-center">
											<h2 class="font-['Gilroy-SemiBold'] text-[#5E3F0D] text-[1.2vw] fixtext">{{Locales['businessbilling']}}</h2>
										</div>
										<div class="w-full h-[7%] flex items-end justify-center">
											<h2 class="font-['Gilroy-SemiBold'] text-[#5E3F0D] text-[1.2vw] fixtext">{{Locales['authorization']}}</h2>
										</div>

										<div class="w-full h-[22.5%] flex items-end justify-center">
											<img
												v-if="waitingForJobData.profilephoto.length == 0 || waitingForJobData.profilephoto == null || waitingForJobData.profilephoto == false"
												src="/html/images/businessicon.png"
												class="h-[75%] rounded-full"
												style="object-fit: cover; object-position: center"
												alt=""
											/>
											<img v-else :src="waitingForJobData.profilephoto" class="h-[75%] rounded-full" style="object-fit: cover; object-position: center" alt="" />
										</div>

										<div class="w-full h-[14.5%] flex items-end justify-center">
											<div class="w-[85%] h-[65%] rounded-[0.5vw] flex items-end justify-center">
												<h2 class="font-['Gilroy-SemiBold'] text-black text-[1.2vw] fixtext">{{Locales['authorization']}}</h2>
											</div>
										</div>

										<div class="w-full h-[17.5%] flex items-end justify-center">
											<h2 class="font-['Gilroy-SemiBold'] text-black text-[1.2vw] leading-[100%]">{{waitingForJobData.joblabel}}</h2>
										</div>
										<div class="w-full h-[19.5%] flex items-end justify-center">
											<div
												class="w-[87%] h-[57%] rounded-[1vw] flex items-center justify-center bg-[#e8af54] rounded-[0.7vw] shadow-[0px_0px_0px_2px_rgba(129,86,18,1.00)] cursor-pointer anim-hover-1"
											>
												<h2 class="font-['Gilroy-SemiBold'] text-black text-[1.2vw] fixtext">{{Locales['waitingforapproval']}}</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="w-full h-[16%] flex items-end justify-center">
								<div class="w-[25%] inline-flex">
									<h2 class="font-['Gilroy-SemiBold'] text-white/50 text-[1.1vw] text-center leading-[100%]">{{Locales['afteryouvemade']}}</h2>
								</div>
							</div>
						</div>
					</div>

					<div
						v-if="ShowBillingModal"
						class="w-full h-full flex items-center justify-center absolute"
						style="background-image: url(/html/images/billingoverlay.png); background-size: 100% 100%"
					>
						<transition-group name="opacitypage">
							<div v-if="NewBilling" class="w-[24%] h-[73.5%] absolute">
								<div class="w-full h-[91.4%]" style="background-image: url(/html/images/incomingbillbackground.png); background-size: 100% 100%">
									<div class="w-full h-[21%] flex items-end justify-center">
										<div class="w-[68%] h-[91%]">
											<div class="w-full h-[25%] flex">
												<div class="w-[50%] h-full flex items-center">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{NewBilling.identifiername}}</h2>
												</div>
												<div class="w-[50%] h-full flex items-center justify-end">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black/40 fixtext leading-[100%]">{{NewBilling.formatdate}}</h2>
												</div>
											</div>
											<div class="w-full h-[25%] flex">
												<div class="w-[50%] h-full flex items-center">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{Locales['due']}}</h2>
												</div>
												<div class="w-[50%] h-full flex items-center justify-end">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black/40 fixtext leading-[100%]">{{NewBilling.formatoverduedate}}</h2>
												</div>
											</div>
											<div class="w-full h-[25%] flex">
												<div class="w-[50%] h-full flex items-center">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{Locales['to']}}</h2>
												</div>
												<div class="w-[50%] h-full flex items-center justify-end">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black/40 fixtext leading-[100%]">{{NewBilling.targetname}}</h2>
												</div>
											</div>
											<div class="w-full h-[25%] flex">
												<div class="w-[50%] h-full flex items-center">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{Locales['invoiceid']}}</h2>
												</div>
												<div class="w-[50%] h-full flex items-center justify-end">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black/40 fixtext leading-[100%]">#{{NewBilling.invoiceid}}</h2>
												</div>
											</div>
										</div>
									</div>
									<div class="w-full h-[6%] flex items-end justify-center">
										<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">Charges</h2>
									</div>
									<div class="w-full h-[32%] flex items-end justify-center">
										<div class="w-[68%] h-full overflow-auto no-scrollbar">
											<div v-for="(data, index) in NewBilling.reason" class="w-full h-[17%] flex relative">
												<div
													v-if="tooltip.visible && tooltip.index === index"
													:style="{ top: 100+ '%', left: 0+ 'px' }"
													class="absolute w-[100%] inline-flex z-[2] bg-black/70 rounded-[0.5vw]"
												>
													<h2 class="font-['Gilroy-Semibold'] text-[0.8vw] p-[0.5vw] text-white leading-[100%]">{{tooltip.text}}</h2>
												</div>
												<div class="w-[50%] h-full flex items-center" @mouseover="ShowTooltip($event, data.reason, index)" @mouseleave="HideTooltip">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext">{{data.reason}}</h2>
												</div>
												<div class="w-[50%] h-full flex items-center justify-end" @mouseover="ShowTooltip($event, data.amount, index)" @mouseleave="HideTooltip">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{currencyUnit}}{{Number(data.amount).toLocaleString()}}</h2>
												</div>
											</div>
										</div>
									</div>

									<div class="w-full h-[14%] flex items-end justify-center">
										<div class="w-[68%] h-[90%]">
											<div class="w-full h-[48%] flex">
												<div class="w-[50%] h-full flex items-center">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{Locales['subtotal']}}</h2>
												</div>
												<div class="w-[50%] h-full flex items-center justify-end">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">
														{{currencyUnit}}{{Number(NewBilling.amount).toLocaleString()}}
													</h2>
												</div>
											</div>
											<div class="w-full h-[48%] flex">
												<div class="w-[50%] h-full flex items-center">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{Locales['tax']}}</h2>
												</div>
												<div class="w-[50%] h-full flex items-center justify-end">
													<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">%{{BillingTax}}</h2>
												</div>
											</div>
										</div>
									</div>

									<div class="w-full h-[11.7%] flex items-center justify-center">
										<h2 class="font-['Gilroy-Semibold'] text-[1.5vw] text-black fixtext leading-[100%]">{{currencyUnit}} {{Number(NewBilling.totalAmount).toLocaleString()}}</h2>
									</div>

									<div class="w-full h-[15.2%] mt-[0.2vh] flex items-center justify-center">
										<div
											@click="PayBills(NewBilling.invoiceid)"
											class="w-[77.5%] h-full flex items-center justify-center cursor-pointer"
											style="background-image: url(/html/images/createbillingbottombutton.png); background-size: 100% 100%"
										>
											<h2 class="font-['Gilroy-Semibold'] text-[1.5vw] text-white fixtext leading-[100%]">{{Locales['pay']}}</h2>
										</div>
									</div>
								</div>

								<div class="w-full h-[8.7%] flex items-end justify-center">
									<div class="w-[78%] h-[73%] rounded-[0.7vw] bg-[#e8af54]/40 flex items-center justify-center cursor-pointer anim-hover-1" @click="PayLaterButton">
										<h2 class="font-['Gilroy-Semibold'] text-[1.1vw] text-[#e8af54] fixtext">Pay Later</h2>
									</div>
								</div>
							</div>

							<div v-if="PaidedBilling" class="w-[24%] h-[62%]" style="background-image: url(/html/images/paybillingbackground.png); background-size: 100% 100%">
								<div class="w-full h-[26%] flex items-end justify-center">
									<div class="w-[68%] h-[76%]">
										<div class="w-full h-[25%] flex">
											<div class="w-[50%] h-full flex items-center">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{PaidedBilling.identifiername}}</h2>
											</div>
											<div class="w-[50%] h-full flex items-center justify-end">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black/40 fixtext leading-[100%]">{{PaidedBilling.formatdate}}</h2>
											</div>
										</div>
										<div class="w-full h-[25%] flex">
											<div class="w-[50%] h-full flex items-center">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{Locales['due']}}</h2>
											</div>
											<div class="w-[50%] h-full flex items-center justify-end">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black/40 fixtext leading-[100%]">{{PaidedBilling.formatoverduedate}}</h2>
											</div>
										</div>
										<div class="w-full h-[25%] flex">
											<div class="w-[50%] h-full flex items-center">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{Locales['to']}}</h2>
											</div>
											<div class="w-[50%] h-full flex items-center justify-end">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black/40 fixtext leading-[100%]">{{PaidedBilling.targetname}}</h2>
											</div>
										</div>
										<div class="w-full h-[25%] flex">
											<div class="w-[50%] h-full flex items-center">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{Locales['invoiceid']}}</h2>
											</div>
											<div class="w-[50%] h-full flex items-center justify-end">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black/40 fixtext leading-[100%]">#{{PaidedBilling.invoiceid}}</h2>
											</div>
										</div>
									</div>
								</div>
								<div class="w-full h-[8.2%] flex items-end justify-center">
									<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{Locales['charges']}}</h2>
								</div>

								<div class="w-full h-[33%] flex items-end justify-center relative">
									<div class="w-full h-full absolute flex items-center justify-center">
										<h2 class="font-['Gilroy-Semibold'] text-[1.8vw] text-[#E13939] fixtext leading-[100%]" style="transform: rotate(-20deg)">Paid</h2>
									</div>
									<div class="w-[68%] h-full overflow-auto no-scrollbar">
										<div v-for="(data, index) in PaidedBilling.reason" class="w-full h-[17%] flex relative">
											<div
												v-if="tooltip.visible && tooltip.index === index"
												:style="{ top: 100+ '%', left: 0+ 'px' }"
												class="absolute w-[100%] inline-flex z-[2] bg-black/70 rounded-[0.5vw]"
											>
												<h2 class="font-['Gilroy-Semibold'] text-[0.8vw] p-[0.5vw] text-white leading-[100%]">{{tooltip.text}}</h2>
											</div>
											<div class="w-[50%] h-full flex items-center" @mouseover="ShowTooltip($event, data.reason, index)" @mouseleave="HideTooltip">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext">{{data.reason}}</h2>
											</div>
											<div class="w-[50%] h-full flex items-center justify-end" @mouseover="ShowTooltip($event, data.amount, index)" @mouseleave="HideTooltip">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{currencyUnit}}{{Number(data.amount).toLocaleString()}}</h2>
											</div>
										</div>
									</div>
								</div>

								<div class="w-full h-[15%] flex items-end justify-center">
									<div class="w-[68%] h-[90%]">
										<div class="w-full h-[50%] flex">
											<div class="w-[50%] h-full flex items-center">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{Locales['subtotal']}}</h2>
											</div>
											<div class="w-[50%] h-full flex items-center justify-end">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">
													{{currencyUnit}}{{Number(PaidedBilling.amount).toLocaleString()}}
												</h2>
											</div>
										</div>
										<div class="w-full h-[50%] flex">
											<div class="w-[50%] h-full flex items-center">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">{{Locales['tax']}}</h2>
											</div>
											<div class="w-[50%] h-full flex items-center justify-end">
												<h2 class="font-['Gilroy-Semibold'] text-[1.04vw] text-black fixtext leading-[100%]">%{{BillingTax}}</h2>
											</div>
										</div>
									</div>
								</div>

								<div class="w-full h-[9.5%] flex items-end justify-center">
									<h2 class="font-['Gilroy-Semibold'] text-[1.5vw] text-black fixtext leading-[100%]">{{currencyUnit}} {{Number(PaidedBilling.totalAmount).toLocaleString()}}</h2>
								</div>
							</div>
						</transition-group>
					</div>

					<canvas id="backgroundCanvas" ref="canvasRef" :width="width" :height="height" class="overflow-hidden"></canvas>
					<!-- v-if="OpenBillingMenu" -->
					<div v-if="OpenBillingMenu" class="w-[75.5%] h-[83%] absolute flex items-start mt-[6vh] rounded-[2vw] backdrop-blur-[0.7vw]">
						<div class="w-full h-[100%] rounded-[2vw] relative" style="background-image: url(/html/images/background.png); background-size: 100% 100%">
							<div class="w-full h-[6.5%] absolute flex z-[2]">
								<div class="w-full h-full absolute flex items-center justify-center">
									<h2 class="font-['Gilroy-Medium'] text-white/70 text-[0.8vw] ml-[1.5vw] fixtext">{{ GetTimeAndDate() }}</h2>
								</div>
								<div class="w-[50%] h-full flex items-center">
									<h2 class="font-['Gilroy-Medium'] text-white/70 text-[1vw] ml-[1.5vw] fixtext">{{Locales['lsbillingmanagementoffice']}}</h2>
								</div>
								<div class="w-[50%] h-full flex items-center justify-end z-[3]">
									<div class="w-[2.5%] h-[40%] mr-[1.9vw] cursor-pointer" @click="CloseBillingMenu"></div>
								</div>
							</div>
							<transition-group name="opacitypage">
								<div
									v-for="data in $store.state.TabletNotifications"
									:key="data.id"
									class="w-[20%] inline-flex flex flex-wrap content-start absolute left-[0.9vw] bottom-[1.5vh] rounded-[1.4vw] z-[10] cursor-pointer"
									:style="{'background-image' : data.type === 'error' ? 'url(/html/images/errornotificationbackground.png)' : 'url(/html/images/notificationbackground.png)', 'background-size' : '100% 100%'}"
									@click="$notificationManager.removeNotification('tablet', data.id)"
								>
									<div class="w-full h-[5vh] flex items-end justify-center">
										<div class="w-[90%] h-[70%] flex items-center">
											<img v-if="data.type !== 'error'" src="/html/images/systeminfoicon.png" class="h-[80%]" alt="" />
											<img v-else src="/html/images/errornotification.png" class="h-[80%]" alt="" />
											<h2 :class="data.type == 'error' ? 'text-[#E13939]' : 'text-[#548DE8]'" class="font-['Gilroy-Medium'] text-[1vw] ml-[0.5vw] fixtext">
												{{Locales['notification']}}
											</h2>
										</div>
									</div>
									<div class="w-full inline-flex">
										<h2 class="font-['Gilroy-Medium'] text-white text-[0.65vw] pl-[0.8vw] pr-[1vw] pt-[0.5vh] pb-[1.5vh]">{{data.text}}</h2>
									</div>
								</div>
							</transition-group>

							<div v-if="$store.state.showNavbar" class="w-[37%] h-[16.5%] absolute left-[23.8vw] bottom-[-3.3vh] flex items-end justify-center z-[10]">
								<div class="w-full h-[58%] absolute top-0 flex items-center justify-center">
									<div class="w-[15%] bg-[#548de8] rounded-full border-2 border-white/20 aspect-square rounded-full" style="filter: blur(0.5vw)"></div>
									<div
										@click="CreateBill()"
										class="w-[15%] bg-[#548de8] rounded-full border-2 border-white/20 aspect-square rounded-full absolute flex items-center justify-center cursor-pointer anim-hover-1 z-[2]"
									>
										<img src="/html/images/+icon.png" class="h-[50%]" alt="" />
									</div>
								</div>
								<div
									class="w-full h-[67%] flex"
									:style="{backgroundImage : $store.state.activePage == 'personelpage' ? 'url(/html/images/navbar.png)' : 'url(/html/images/navbar2.png)' }"
									style="background-size: 100% 100%"
								>
									<div :class="$store.state.activePage == 'personelpage'? 'opacity-[1]' : 'opacity-[0.5]'" class="w-[18%] h-full flex items-center justify-center">
										<div class="w-[66%] bg-white aspect-square rounded-full flex items-center justify-center relative">
											<img :src="PlayerData.profilephoto" class="w-full h-full rounded-full absolute z-[1]" style="object-fit: cover; object-position: center" alt="" />
											<img :src="PlayerData.profilephoto" class="w-full h-full rounded-full" style="object-fit: cover; object-position: center; filter: blur(1vw)" alt="" />
										</div>
									</div>
									<div
										:class="$store.state.activePage == 'personelpage'? 'opacity-[1]' : 'opacity-[0.5]'"
										class="w-[23%] h-full flex items-center cursor-pointer anim-hover-1"
										@click="ChangeCurrentPage('personelpage')"
									>
										<h2 class="font-['Gilroy-Medium'] text-white/80 text-[1.1vw] ml-[0.3vw] fixtext">{{Locales['personal']}}</h2>
									</div>
									<div class="w-[17.8%] h-full"></div>
									<div
										:class="$store.state.activePage == 'businesspage'? 'opacity-[1]' : 'opacity-[0.5]'"
										class="w-[23%] h-full flex items-center justify-end cursor-pointer anim-hover-1"
										@click="ChangeCurrentPage('businesspage')"
									>
										<h2 class="font-['Gilroy-Medium'] text-white/80 text-[1.1vw] ml-[0.3vw] fixtext">{{Locales['business']}}</h2>
									</div>
									<div
										v-if="$store.state.JobsData"
										:class="$store.state.activePage == 'businesspage' ? 'opacity-[1]' : 'opacity-[0.5]'"
										class="w-[18%] h-full flex items-center justify-center"
									>
										<div
											:class="($store.state.JobsData.logo !== false) && ($store.state.JobsData.logo !== 'false') ? 'bg-white' :'bg-black/70'"
											class="w-[66%] aspect-square rounded-full flex items-center justify-center relative"
										>
											<img
												v-if="($store.state.JobsData.logo !== false) && ($store.state.JobsData.logo !== 'false')"
												:src="$store.state.JobsData.logo"
												style="filter: blur(1vw)"
												class="w-[95%] rounded-full aspect-square"
												alt=""
											/>
											<img
												v-if="($store.state.JobsData.logo !== false) && ($store.state.JobsData.logo !== 'false')"
												:src="$store.state.JobsData.logo"
												class="w-[95%] rounded-full aspect-square absolute"
												style="object-fit: cover; object-position: center"
												alt=""
											/>
											<img
												v-else
												src="/html/images/businessicon.png"
												class="h-[60%] rounded-full aspect-square absolute"
												style="object-fit: cover; object-position: center"
												alt=""
											/>
										</div>
									</div>
									<div v-else class="w-[18%] h-full flex items-center justify-center">
										<div class="w-[66%] bg-black aspect-square rounded-full flex items-center justify-center relative">
											<img src="/html/images/businessicon.png" class="w-[80%] rounded-full aspect-square absolute" alt="" />
										</div>
									</div>
								</div>
							</div>
							<component :is="activePage" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="./js/app.js" type="module"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	</body>
</html>
